{{page-title "Team"}}
<div>
  <Title @title="List Team">
    <LinkTo @route="team-add" class="btn btn-primary">
      {{!-- <button class="btn btn-primary"> --}}
        Add new Team
      {{!-- </button> --}}
    </LinkTo>
  </Title>
  {{#each this.model as |team|}}
    <List @team={{team}}>
      <div class="d-flex flex-sm-row gap-2 align-self-start">
        <LinkTo class="btn btn-outline-primary" @route="team-detail" @model={{team.id}}>Detail Team</LinkTo>
        <LinkTo class="btn btn-outline-primary" @route="team-edit" @model={{team.id}}>Edit Team</LinkTo>
        {{!-- {{#link-to "team-edit" team.id}}<button class="btn btn-outline-primary">Edit Team</button>{{/link-to}} --}}
        <LinkTo class="btn btn-outline-danger" @route="team-delete" @model={{team.id}}>Delete Team</LinkTo>
      </div>
    </List>
  {{/each}}
</div>